body {
  background-color: #1D1717;
  padding: 0px;
  margin: 100px;
}

h1 {
  color: #FFFFF;
  text-align: center;
  padding: 0px;
  margin: 20px;
  font-size: 50px;
}

p {
  color: #FFFFFF;
  text-align: center;
  margin: 20px;
  padding: 0px;
  font-size: 30px;
}

ul {
  color: #FFFFFF;
  list-style: none;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

li {
  color: #FFFFFF; 
  padding: 10px;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}

a {
  color: #17df2c;
  text-align: center;
}

strong {
  color: #17df2c;
}

div.gallery {
  margin: 5px;
  border: 1px solid #17df2c;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #17df2c;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.text {
  color: #FFFFFF;
  background-color: #2f4353;
background-image: linear-gradient(180deg, #1D1717 0%, #17df2c 90%);
  border-radius: 15px;
}

.text-paragraph {
  color: #FFFFFF;
}

.logo {
  height: 250px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 50px;
}

.nav {
  background-color: #1D1717;
  overflow: auto;
  padding: 0px;
  margin: 1em;
  text-align: center;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}

.nav a {
  color: #17df2c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.nav a:hover {
  background-color: #17df2c;
  color: #1D1717;
}
